
.icon-thumbs-up:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
.icon-trash-empty:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-ccw:before { content: '\e805'; } /* '' */
.icon-floppy:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-menu-1:before { content: '\e808'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-trash:before { content: '\f083'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */