
.edit {
    margin: 20px;
    
    .writer {
        display: inline-block;
        width: calc(100% - 185px);
    }    

    .checkbox{
<<<<<<< HEAD
        margin: 0px 0px 0px 10px;
=======
        margin: 0px 10px;
>>>>>>> a0e0d0ddcbdf586d11e1f9af8166a52ee91e5097
        vertical-align: text-bottom;
        display: inline-block;
        input[type="checkbox"] {
            -webkit-appearance: checkbox;
        }
    }

    .content {
        font-size: 20px;
        height: 200px;
    }
    input {
        font-size: 20px;
    }
        
    .write-cancel-btn {
        margin-left: 3px;
    }
}
