/* List component */
.list {
    margin: 0px;
    //background-color: #f7f7f7;

    .header{
        display: flex;
        flex-direction: row; 
        color: #aaa;
        background-color: #fff;
        padding: 3px 15px 3px 10px;
        margin-bottom: 4px;
        height: 29px;
        border-bottom: 1px solid #eee;
        .title {
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
        }
        .status {
            margin-left: 5px;
            display: inline-block;
            font-size: 16px;
        }
    }
    .writeBtn {
        padding-right: 15px;
        position: fixed;
        bottom: 15px;
        width: 100%;
        max-width: 800px;
        text-align: right;
        opacity: 0.7;
        .btn{
            padding: 7px 12px;
        }
    }  

    .backBtn {
        background-color: #fff;
        padding-left: 15px;
        padding-top: 10px;          
    }
    
}
