
/* Post component */
.post {
    margin: 20px;
    
    .title {
        display: inline-block;
        width: 100%;
        margin: 0px;
        color: #555;
        font-size: 30px;
        text-align: right;
        sup {
            font-size: 14px;
            margin-left:20px;
            color: #999;
        }
        margin-bottom: 20px;
    }
    .meta {
        color: #aaa;
        font-size: 14px;
        display: inline-block;
    }

  

    .postMenu {
        margin-top: -6px;
    }

    .content {
        margin-top: 20px;
        color: #777;
        font-size: 20px;
    }    

    .btn {
        margin-top: 30px;
        margin-right: 3px;
        padding: 4px 10px;
    }
    
    .deleted {
        text-decoration:line-through;
        color: #ccc;
    }
}


.meta2 {
    color: #aaa;
    font-size: 12px;
    margin: 10px 0px;
}  