
/* Post */
.post {
    margin: 20px;
    
    .title {
        display: inline-block;
        width: 100%;
        margin: 0px;
        color: #555;
        font-size: 24px;
        text-align: right;
        sup {
            font-size: 14px;
            margin-left:20px;
            color: #999;
        }
        margin-bottom: 20px;
    }
    .meta {
        color: #aaa;
        font-size: 12px;
        display: inline-block;
    }

  

    .postMenu {
        margin-top: -6px;
    }

    .content {
        margin-top: 20px;
        color: #777;
        font-size: 18px;
    }

    .markdown {
        margin-top: 20px;
        color: #777;
        font-size: 16px;
        table {
            th {
                border: 1px solid #eee;
                background-color: #f8f8f0;
                padding: 2px 5px 2px 5px;
            }
            td {
                border: 1px solid #eee;
                padding: 2px 5px 2px 5px;
            }
        }
    }

    .btn {
        margin-top: 30px;
        margin-right: 3px;
        padding: 4px 10px;
    }
    
    .deleted {
        text-decoration:line-through;
        color: #ccc;
    }

    p+ul {
        /* 마크다운에서 목록을 사용할 경우 제목과 목록사이 간격 조정 */
        color: red;
        margin-top: -5px;
    
    }
}

