/* Post */

.post {
    margin: 20px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    .title-wrapper {
        display: flex;
        .prev-padding {
            flex: 1
        }
        .title {
            margin: 0px;
            color: #555;
            font-size: 24px;
            //text-align: right;
            sup {
                font-size: 14px;
                margin-left: 5px;
                color: #999;
            }
            margin-bottom: 20px;
        }
    }
    .meta {
        display: flex;
        flex-wrap: wrap;
        .writer-time {
            flex: 1;
            color: #aaa;
            font-size: 12px;
            display: inline-block;
            min-width: 160px;
        }
    }
    .content {
        margin-top: 20px;
        color: #777;
        font-size: 18px;
    }
    .postMeta {
        margin-top: 10px;
    }
    .private {
        color: #999 !important;
    }
    .markdown {
        margin-top: 20px;
        color: #555;
        font-size: 16px;
        display: inline-block;
        table {
            th {
                border: 1px solid #eee;
                background-color: #f8f8f0;
                padding: 2px 5px 2px 5px;
            }
            td {
                border: 1px solid #eee;
                padding: 2px 5px 2px 5px;
            }
        }
        p {
            // 기본 문단 간의 간격
            margin-bottom: 20px;
        }
        /**
        * 2018.10.10
        * min9nim
        * 위에 p 에 정의한 margin-bottom 때문에 텍스트(p) + 코드(pre)가 이어질 경우 20px 떨어지는 문제를 아래 설정으로 보정함
        */
        p+pre {
            margin-top: -20px;
        }
        p+ul,
        p+ol,
        p+blockquote {
            /* 마크다운에서 목록을 사용할 경우 제목과 목록사이 간격 조정 */
            margin-top: -15px;
        }
        ul,
        ol {
            margin-bottom: 20px;
            padding-left: 35px;
        }
        li {
            ul,
            ol {
                margin-bottom: 0px;
            }
            margin-bottom: 3px;
            margin-top: 3px;
        }
        blockquote {
            padding: 0px 15px;
            font-size: 16px;
            font-style: italic;
            p {
                margin-bottom: 0px;
            }
        }
        del {
            color: #ccc;
        }
    }
    .btn {
        font-size: 12px;
        margin-top: 20px;
        margin-right: 3px;
        padding-top: 3px;
        padding-bottom: 2px;
        padding-left: 2px;
        padding-right: 8px;
    }
    .deleted {
        text-decoration: line-through;
        color: #ddd;
    }
}
