
/* Comment component */

.comment-write {
    margin: 20px;
    display: flex;
    flex-direction: row;
    max-width: 800px;

    .writer {
        display: inline-block;
        width: 100px;
        margin-bottom: 0px;
    }
    .content {
        margin: 0px 3px;
        flex-grow: 1;
        textarea {
            height: 34px;
            overflow:visible;
        }
        textarea.autosize { min-height: 34px; }

    }
    .confirmBtn {
        width: 70px;
        margin: 1px 0px;
        .btn{
            font-size: 14px;
            padding-left: 3px;
            padding-right: 7px;
        }
    }
}