/* Comment component */

.comment-write {
    margin: 20px;
    display: flex;
    flex-direction: row;
    max-width: 800px;
    .writer {
        display: inline-block;
        width: 100px;
        margin-bottom: auto;
        margin-top: auto;
        margin-right: 10px;
        input {
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-radius: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            height: 20px;
        }
    }
    .content {
        margin-left: 3px;
        margin-right: 10px;
        flex-grow: 1;
        margin-bottom: auto;
        margin-top: auto;
        textarea {
            overflow: hidden;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-radius: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            height: 20px;
        }
        textarea.autosize {
            min-height: 34px;
        }
    }
    .confirmBtn {
        width: 70px;
        margin: 1px 0px;
        .btn {
            font-size: 12px;
            // margin-top: 20px;
            margin-right: 3px;
            padding-top: 3px;
            padding-bottom: 2px;
            padding-left: 3px;
            padding-right: 6px;
        }
    }
}