
/* Excerpt component */
.excerpt {
    display: inline-block;
    margin: 1px 0px;
    width: 100%;
    background-color: #fff;
    padding: 15px 15px;

    .title1 {
        margin-bottom: 3px;
    }
        
    .title {
        display: inline-block;
        text-align: right;
        width: 100%;
        margin: 0px;
        a {
            color: #555;
        }
    }
    .meta {
        color: #aaa;
        text-align: right;
        font-size: 12px;
        display: inline-block;
        margin: 0px 0px 0px 0px;
    }

    .meta2 {
        color: #aaa;
        text-align: right;
        font-size: 12px;
        display: inline-block;
        margin: 10px 0px;
    }
    
    .postMenu {
        margin-top: -5px;
    }

    .content {
        display: inherit;       /* PostMenu 가 열릴 때 모바일에서 글목록의 excerpt 내용이 왼쪽으로 밀리는 문제 수정, 18.09.07 */
        height: 60px;
        overflow: hidden;        
        margin-top: 4px;
        color: #777;
    }
    
    .deleted {
        text-decoration:line-through;
        color: #ccc;
    }

}