/* List component */

.list {
  margin: 0px; //background-color: #f7f7f7;
  .header {
    display: flex;
    flex-wrap: wrap;
    color: #aaa;

    padding: 3px 15px 0 10px;
    margin-bottom: 4px; //height: 29px;
    border-bottom: 1px solid #eee;
    .logo {
      flex: 1;
      // min-width: 80px;
      font-size: 20px;
      font-weight: bold;
      font-style: italic;
      cursor: pointer;
      img {
        position: absolute;
        width: 110px;
        filter: grayscale(100%);
        opacity: 0.4;
      }
    }
    .channel {
      margin-left: 5px;
      display: inline-block;
      font-size: 16px;
    }
    .status {
      margin-left: 5px;
      display: inline-block;
      font-size: 16px;
    }
    .menu-title {
      //flex:1;
      text-align: right; //display: flex;
      .menu {
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
      }
      .uuid {
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
  .writeBtn {
    padding-right: 15px;
    position: fixed;
    bottom: 15px;
    width: 100%;
    max-width: 800px;
    text-align: right;
    opacity: 0.7;
    .btn {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 7px;
      padding-right: 10px;
    }
  }
  .backBtn {
    background-color: #fff;
    padding-left: 15px;
    padding-top: 10px;
  }
}

/* On screens that are 992px or less, set the background color to blue */

@media screen and (max-width: 400px) {
  .list .header .search {
    order: 1;
  }
  .logo {
    flex: 1;
  }
  div.header > div.search > div.ipt-wrapper {
    max-width: initial;
  }
}

/* myChannels 스타일 */
.channels-wrappter {
  position: fixed;
  left: 20px;
  top: 50px;
}
