.my-channels {
  color: #777;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 6px;
  .loading2 {
    margin-top: 5px;
  }
  .title {
    border-bottom: 1px solid #eee;
    padding-bottom: 7px;
  }
  .item {
    margin-top: 10px;
    cursor: pointer;
  }
  .selected {
    font-weight: bold;
  }
}

@media screen and (max-width: 1090px) {
  .channels-wrappter .my-channels {
    display: none;
  }
}
