/* Post component */

.postMeta {
    color: #aaa;
    font-size: 12px;
    text-align: left;

    i {
        display: inline-block;
        margin-right: 20px;
    }

    .liked { 
        cursor: pointer;
        font-weight: bold;
    }

    .like {
        cursor: pointer;
    }
}   