/* Post component */

.postMeta {
    color: #aaa;
    font-size: 12px;
    margin: 10px 0px;
    text-align: left;

    div {
        display: inline-block;
        margin-right: 20px;
    }

    .liked { 
        font-weight: bold;
    }
}   