/* Post component */
.postMenu {
    display: inline-block;
    cursor: pointer;
    color : #aaa;
    width: 100px;
    text-align: right;
    height: 32px;
    .menu{
        width: 100px;
        text-align: right;
        font-size: 20px;
        div {
            font-size: 14px;
            display: inline-block;
        }
    }
}