.Search{
    flex-grow: 1;
    text-align: right;    
    .icon-search {
        position: relative;
        left: 25px;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
    }
    .ipt-wrapper {
        display: inline-block;
        width: 130px;
        .ipt-search {
            width: 100%;
            font-size: 14px;
            padding: 0px 4px 0px 25px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(238, 238, 238);
            border-image: initial;
            border-radius: 15px;
            outline: none;
            transition: all 0.2s ease 0s;            
        }
    }
}

